/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eeeeee;
}

.header-panel{
  background: rgba(238,238,238,0.80);
  margin-top: 30px;
}
