bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
appsettings.*.json
environment.*.ts
postgres-data/
seq-data/
%USERPROFILE%/
.terraform/**/*
*.aws.env
.vs/
.vscode/
Infra/dev/.terraform/providers/
WrathLC.DataEngine/Items.db
WrathLC.DataEngine/Items.db-shm
WrathLC.DataEngine/Items.db-wal
