@page
@model WrathLC.Identity.Idp.Areas.Identity.Pages.Account.LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="login-wrapper login-box-shadow">
    <div class="title">Welcome to Wrath LC</div>
    <div class="body-text">A Discord account is currently required to log on.</div>
    <div class="btn-sso btn-discord login-box-shadow noselect">
        <div class="btn-discord-icon">
            <i class="fa-brands fa-discord"></i>
        </div>
        <a asp-page-handler="LoginDiscord" asp-route-returnUrl="@Model.ReturnUrl" class="btn-discord-body">
            Sign in with Discord
        </a>
    </div>
    <div class="body-text">
        An account will be created if one does not already exist.
    </div>
    <a href="https://discord.com/register">
        Create a Discord account.
    </a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}