<mat-toolbar color="secondary" style="height: 35px">
  <span style="color: black">Wrath LC</span>
  <span class="navbar-spacer"></span>
  <span class="icon-text" style="font-size:14px; margin-right: 10px">Buzz</span>
    <mat-icon>account_circle</mat-icon>
    <span class="icon-text" style="font-size:14px">Hello, Azar</span>
</mat-toolbar>
<mat-toolbar style="background-color: navy">
    <mat-button-toggle-group class="nav-group">
      <mat-button-toggle role="navigation"
                         class="mat-button mat-flat-button mat-button-base mat-primary nav-item">
        Dashboard
      </mat-button-toggle>
      <mat-button-toggle role="navigation"
                         class="mat-button mat-flat-button mat-button-base mat-primary nav-item">
        Macros
      </mat-button-toggle>
      <mat-button-toggle role="navigation"
                         class="mat-button mat-flat-button mat-button-base mat-primary nav-item">
        Pre-Votes
      </mat-button-toggle>
      <mat-button-toggle role="navigation"
                         class="mat-button mat-flat-button mat-button-base mat-primary nav-item ">
        Guides
      </mat-button-toggle>
    </mat-button-toggle-group>
</mat-toolbar>

Some test text
