.navbar-spacer {
  flex: 1 1 auto;
}
.nav-group {
  padding: 0;
  border: 0;
}
.icon-text {
  margin-left: 10px;
}
.nav-item{
  background-color: navy;
  border-left: 0 !important;
  padding: 0 !important;
}
