html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  background: #303f9f;;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.body-text {

}

.login-wrapper > div:not(:first-child), .login-wrapper > button, .login-wrapper > a {
  margin-top: 25px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: inherit;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: #ffffff;
  padding: 50px 10px 50px 10px;
}

.login-box-shadow {
  border: 1px solid #c2c2c2;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 4px -4px #c2c2c2;
}

p, .btn-sso, .body-text {
  font-size: 16px;
}
.btn-sso:hover{
  -webkit-box-shadow: 0 9px 5px -5px #c2c2c2;
  -moz-box-shadow: 0 9px 5px -5px #c2c2c2;
  box-shadow: 0 9px 5px -5px #c2c2c2;
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.btn-sso {
  text-align: left;
  border-radius: 2px;
  font-weight: bold;
  margin-top: 20px;
  width: 300px;
  height: 40px;
  text-decoration: none;
  display: flex;
}

.btn-discord {
  color: #ffffff;
}
.btn-discord-body {
  width: 100%;
  background-color: #9094ff;
}
.btn-discord-icon {
  background-color: #5766ed;
  width: 50px;
}
.signin {
  background: linear-gradient(90deg, #5766ed 0 48px, #9094ff 48px 100%);
}
.register {
  background-color: #9094ff;
}
.btn-sso div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
